<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Smart Attendance</title>
  <link rel="stylesheet" href="{{ url_for('static' , filename='main_page_style.css')}}">
</head>
<body>
  <header>
    <h1>SMART ATTENDANCE SYSTEM</h1>
    <p>Effortless attendance with face recognition</p>
  </header>

  <main>
    
    <a href="login.html" class="btn">Login</a>
    <a href="register.html" class="reg_btn">Register</a>

  </main>

  <footer>
    <p>2025 Queens</p>
  </footer>
</body>
</html>
