<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='register_style.css') }}">
 
</head>
<body>

<header>

  <div class="title">
    <a href="#" ><img src="{{url_for('static' , filename='icon/c.png')}}" alt="image" width="50" height="50"></a>
    <h1>REGISTRATION</h1>
    
  </div>
  
  <div class="navbar">

    <ul class="navbar-left">
      <a href="{{url_for('home_page') }}" class="btn">Home</a>
      <a href="contact" class="btn">Contact</a>
      <a href="{{url_for('login_page')}}" class="btn">Attendance</a>
      <a href="About" class="btn">About</a>
    </ul>
   
    <div class="navbar-right">
      <a href="{{url_for('new_home_page')}}" class="btn">Sign out</a>
    </div>
  </div>
    
</header>

<main class="main-split">

  <div class="register-container">

    <form id="register-form" method="POST" action="/register">

      <div class="form-fields">

        <input type="text" name="first_name" placeholder="First Name" required/>
        <input type="text" name="last_name" placeholder="Last Name" required/>
        <input type="email" name="email" placeholder="Email" required/>
        <input type="hidden" name="image_data" id="image_data">
      </div>

      <div class="camera-container">

        <video id="video" width="640" height="480" autoplay></video>
        <div id="overlay"></div>

      </div>

      <div id="preview-container" style= "text-align: center; margin-top: 10px;">
            <canvas id="canvas" width="640" height="480" style="display:none; border: 2px solid#ccc;"></canvas>
      </div>

      <div class="photo-capture">
        
        <button type= "button" onclick="captureImage()" >Capture Face</button>

        <p id="captureStatus"></p>

      </div>

      <button class="register-button" type="submit">Register</button>
    </form>
  </div>

  <div class="main-right-half">
    
      <h2>Registered Users</h2>
      
      <table >
        <thead>
          <tr>
            <td>Reg. #</td>
            <td>First Name </td>
            <td>Last Name </td>
            <td>Email </td>
            <td>Date</td>
            <td>Time</td>

          </tr>

        </thead>
        <tbody>
          {% for user in users%}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.Date}}</td>
            <td>{{user.Time}}</td>
          </tr>
          {%endfor %}
        </tbody>
      </table>
    
      

  </div>
    
</main>

<footer>
  <p> Already registered ? <a href="{{ url_for('login_page') }}" class="btn"> Attendance</a></p>
</footer>

<script>
  // Access webcam 

  const video = document.getElementById('video');
  navigator.mediaDevices.getUserMedia({ video: true })
    .then((stream) => {
      video.srcObject = stream;
    })
    .catch((err) => {
      console.error("Camera not accessible:", err);
      alert("Please allow camera access to use this feature.");
    });

  function captureImage() {
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext('2d');
    const captureStatus = document.getElementById("captureStatus");
    const imageDataInput = document.getElementById("image_data");

    canvas.width=320;
    canvas.height=240;
    canvas.style.display='block' ;
    context.drawImage(video, 0, 0, canvas.width, canvas.height);
    const imageData = canvas.toDataURL("image/png");
    imageDataInput.value = imageData;
    captureStatus.textContent = "Image captured and added to form!";
  }
</script>

</body>
</html>
